# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Dev-Sketch-Backend/node_modules
Dev-Sketch-Frontend/node_modules
Dev-Sketch-Websocket/node_modules
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
Dev-Sketch-Frontend/.next/
/out/
Dev-Sketch-Frontend/out/


# production
/build
Dev-Sketch-Frontend/build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
*.env*
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# clerk configuration (can include secrets)
/.clerk/
